{%load static%}
<!doctype html5>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>alumni login</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{%static 'css/alumni_login.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9c3417e0b5.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- header start -->
    <header>
        <div class="d-flex  mainhead">
            <div class="logo">
                <img src="{%static 'images/logo.png' %}" alt="">
            </div>
            <div class="collegename">
                <h1>Rajkiya engineering college sonbhadra</h1>
                <h4>Alumni Network</h4>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="{% url 'department' %}">Department</a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallary' %}">Gallary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'studentlogin' %}">Student-login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'studentsignup' %}">Student-signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'alumni_login' %}">Alumni-login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'alumni_signup' %}">Alumni-signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Department</a></li>
                                <li><a class="dropdown-item" href="#">Another department</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 py-0" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
             </button>
        </div>
        {% endfor %} {% endif %}
    </header>

    <!-- header end -->

    <!-- form start -->

    <form method="post" action="">
        {% csrf_token %}
        <div class="container">
            <div class="text-center fhead">
                <h1 style="color:darkblue">Alumni login</h1>
            </div>

            <div class="form-group">
                <input type="email" class="form-control" id="lemail" name="lemail" placeholder="Email">
            </div>

            <div class="form-group">
                <input type="number" class="form-control" id="lrollno" name="lrollno" placeholder="University rollno">
            </div>


            <div class="form-group">
                <input type="password" class="form-control" id="lpassword" name="lpassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>


    <!-- form end -->

{% comment %} footer section start {% endcomment %}
   <footer>
        <div class="f-body d-flex flex-column">
            <div class="share d-flex justify-content-center">
                <div class="widget">
                    <img class="footer-logo d-block m-auto rounded-circle" alt="" src="{%static 'images/logo.png' %}">
                    <h4 class="text-white text-center mb-0">Rajkiya Engineering College Sonbhadra</h4>
                    <p class="text-center text-light">Robertsganj Churk</p>
                    <ul class="list-inline text-center">
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white mr-5"></i> <a class="text-white text-decoration-none" href="tel:011-2659-7135">011-2659-7135</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white mr-5"></i> <a class="spamspan text-white text-decoration-none" href=""><strong>info</strong>@recsonbhadra.ac.in</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-white mr-5"></i> <a class="text-white  " href="http://recsonbhadra.ac.in" target="_blank">www.recsonbhadra.ac.in</a> </li>
                    </ul>
                    <button class="btn btn-light rounded-circle"><a href="#" class="fab fa-facebook f"></a></button>
                    <button class="btn btn-light rounded-circle"><a href="#" class="fab fa-twitter"></a></button>
                    <button class="btn btn-light rounded-circle"><a href="#" class="fab fa-instagram"></a></button>
                    <button class="btn btn-light rounded-circle"><a href="#" class="fab fa-pinterest"></a></button>
                    <button class="btn btn-light rounded-circle"><a href="#" class="fab fa-linkedin"></a></button>

                </div>
            </div>
            <div class="container pt-20 pb-20 mb-4">
                <div class="row">
                    <div class="">
                        <p class="font-13 text-white m-0 text-center">Copyright © 2021 Rajkiya Engineering College Sonbhadra. All Rights Reserved.</p>

                    </div>
                    <div class="text-center">
                        <div class="widget no-border m-0">
                            <div class="col-md-12">
                                <p class="font-13 text-white m-0 sm-text-center">Developed and Maintained by <a class="text-white" target="_blank" href="http://recsonbhadra.ac.in">Rajkiya Engineering College Sonbhadra</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section end-->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
</body>

</html>