{% extends 'header.html' %}
{% block title%}
gallary
{%endblock title%}
{%block body%}
{%load static%}
<br><br><br><br><br><br>
    <table style="border-collapse: collapse; class="center">
      <tr>
        <!-- <th>Photo gallery</th> -->

      </tr>
      <tr>
        <!-- <td>click on the image to make the content larger</td> -->

      </tr>



      <tr >
           <td style="border:4px solid #5B8930;"><a href="#alumni"><img src="{%static 'images/alu.jpg' %}" width="400" height="200" alt=""></a></td>
           <td></td><td></td><td></td><td></td><td></td><td></td><td></td>

           <td style="border:4px solid #875F9A;"><a href="#college"><img src="{%static 'images/col.jpg' %}" width="400" height="200" alt=""></a></td>


      </tr>

      <tr>
        <td id="al"><strong> Alumni</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td id="cl" s><strong> College</strong></td>
      </tr>
    </table>
          <p> </p>
   <h1 class="text-center text-secondary alumni" id="alumni">Alumni Gallary</h1>


<br>
<br>

<div class="container alumni" id="alumni">
  <div class="container">



  <div class="row">
    <div class="col-lg-4 col-xs-6  " ><br></div>
    <div class="col-lg-4 col-xs-6  " ></div>
    <div class="col-lg-4 col-xs-6  " ></div>





    <div class="col-lg-4 col-xs-6  " ><img src="http://recsonbhadra.ac.in/photogallary/690699_03142018035416311.JPG" class=" img-fluid  img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6  " ><img src="http://recsonbhadra.ac.in/photogallary/450055_09132018080312974.JPG"  class="img-fluid img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6  " ><img src="http://recsonbhadra.ac.in/photogallary/750055_09132018080352136.JPG" class="img-fluid img-thumbnail" alt="don't worry"></div>

    <div class="col-lg-4 col-xs-6  " ><br></div>
    <div class="col-lg-4 col-xs-6  " ></div>
    <div class="col-lg-4 col-xs-6  " ></div>

    <div class="col-lg-4 col-xs-6 thumbnail" ><img src="http://recsonbhadra.ac.in/photogallary/490699_03142018034937093.JPG" class="img-fluid img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6 thumbnail" ><img src=" http://recsonbhadra.ac.in/photogallary/1300197_03152018110346218.jpg" class="img-fluid img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6 thumbnail" ><img src="http://recsonbhadra.ac.in/photogallary/587981_03132018112521720.JPG" class="img-fluid img-thumbnail" alt="don't worry"></div>

    <div class="col-lg-4 col-xs-6  " ><br></div>
    <div class="col-lg-4 col-xs-6  " ></div>
    <div class="col-lg-4 col-xs-6  " ></div>
      </div>
</div>
</div>

     <p> </p>

    <h1 class="text-center text-secondary" id="college">College Gallary</h1>


<br>
<br>


<div class="container college">
  <div class="container">



  <div class="row">
    <div class="col-lg-4 col-xs-6  " ><br></div>
    <div class="col-lg-4 col-xs-6  " ></div>
    <div class="col-lg-4 col-xs-6  " ></div>





    <div class="col-lg-4 col-xs-6  " ><img src="http://recsonbhadra.ac.in/photogallary/1056200_03142018023526765.JPG" width="300px" height="300px" class=" img-fluid  img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6  " ><img src="http://recsonbhadra.ac.in/photogallary/956200_03142018023246515.JPG" width="300" height="300" class="img-fluid img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6  " ><img src="http://recsonbhadra.ac.in/photogallary/950055_09132018080417544.JPG" width="300" height="300" class="img-fluid img-thumbnail" alt="don't worry"></div>

    <div class="col-lg-4 col-xs-6  " ><br></div>
    <div class="col-lg-4 col-xs-6  " ></div>
    <div class="col-lg-4 col-xs-6  " ></div>

    <div class="col-lg-4 col-xs-6 thumbnail" ><img src=" http://recsonbhadra.ac.in/photogallary/1650055_09132018080621697.JPG" width="300" height="300" class="img-fluid img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6 thumbnail" ><img src=" http://recsonbhadra.ac.in/photogallary/790699_03142018035643811.JPG" width="300" height="300" class="img-fluid img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6 thumbnail" ><img src="http://recsonbhadra.ac.in/photogallary/1519765_09172018050631436.JPG"  width="300" height="300" class="img-fluid img-thumbnail" alt="don't worry"></div>

    <div class="col-lg-4 col-xs-6  " ><br></div>
    <div class="col-lg-4 col-xs-6  " ></div>
    <div class="col-lg-4 col-xs-6  " ></div>
      </div>
</div>
</div>

{%endblock body%}