<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <style>



    body{
      text-align: center;
    }

div {
 background-color: #875F9A;
}
</style>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body  >
     <p> </p>

    <h1>College</h1>


<br>
<br>


<div class="container">
  <div class="container">



  <div class="row">
    <div class="col-lg-4 col-xs-6  " ><br></div>
    <div class="col-lg-4 col-xs-6  " ></div>
    <div class="col-lg-4 col-xs-6  " ></div>





    <div class="col-lg-4 col-xs-6  " ><img src="http://recsonbhadra.ac.in/photogallary/1056200_03142018023526765.JPG" width="300px" height="300px" class=" img-fluid  img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6  " ><img src="http://recsonbhadra.ac.in/photogallary/956200_03142018023246515.JPG" width="300" height="300" class="img-fluid img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6  " ><img src="http://recsonbhadra.ac.in/photogallary/950055_09132018080417544.JPG" width="300" height="300" class="img-fluid img-thumbnail" alt="don't worry"></div>

    <div class="col-lg-4 col-xs-6  " ><br></div>
    <div class="col-lg-4 col-xs-6  " ></div>
    <div class="col-lg-4 col-xs-6  " ></div>

    <div class="col-lg-4 col-xs-6 thumbnail" ><img src=" http://recsonbhadra.ac.in/photogallary/1650055_09132018080621697.JPG" width="300" height="300" class="img-fluid img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6 thumbnail" ><img src=" http://recsonbhadra.ac.in/photogallary/790699_03142018035643811.JPG" width="300" height="300" class="img-fluid img-thumbnail" alt="don't worry"></div>
    <div class="col-lg-4 col-xs-6 thumbnail" ><img src="http://recsonbhadra.ac.in/photogallary/1519765_09172018050631436.JPG"  width="300" height="300" class="img-fluid img-thumbnail" alt="don't worry"></div>

    <div class="col-lg-4 col-xs-6  " ><br></div>
    <div class="col-lg-4 col-xs-6  " ></div>
    <div class="col-lg-4 col-xs-6  " ></div>
      </div>
</div>
</div>

  </body>
</html>
